<%= form_for(book, html: { multipart: true }) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :image %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :directions do |direction| %>
    <%= render 'direction_fields', f: direction %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Direction', f, :directions, class: "btn btn-default add-button" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
