<p id="notice"><%= notice %></p>

<%= @book.image.url %>
<%= image_tag @book.image.url %>
<%= image_tag @book.image.url(:medium) %>
<%= image_tag @book.image.url(:thumb) %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<ul>
  <% @book.directions.each do |direction| %>
    <li><%= direction.step %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
